@{
    ViewData["Title"] = "Home Page";
}
@model SEP6_Project.Models.DepManModel
<html>
<body class="is-preload">

    <!-- Header -->
    <section id="header">
        <div class="inner">
            <span class="icon solid major fa-cloud"></span>
            <h1>
                Hi, this is <strong>SEP6</strong>, a <strong>CLOUD</strong> project by<br />
                Arshad, Erik and Casper. You are on page 4.
            </h1>
            <p>
                Data visualization of NYC flights data,<br />
                utilizing C# and Google Cloud, along with JS, HTML5 and CSS3.
            </p>
            <br />
            <ul>
                <li><a href="#one" class="button scrolly">Discover</a></li>
                <br />
                <li><input type="button" value="Next page" onclick="@("window.location.href='" + @Url.Action("Tempindex", "Temp") + "'");" /></li>
            </ul>
        </div>
    </section>


    <!-- Mean departure and arrival delay for each origin in the same table -->
    <section id="one" class="main style1">
        <div class="container">
            <div class="row gtr-150">
                <div class="col-6 col-12-medium">
                    <style>
                        table, th, td {
                            border: 2px solid black;
                        } 
                    </style>
                    <h3>Mean departure and arrival delay for each origin</h3>
                    <table style="width:100%">
                        <tr>
                            <th>Origin</th>
                            <th>Departure delay</th>
                            <th>Arrival delay</th>
                        </tr>
                        <tr>
                            <td>EWR</td>
                            <td>@Model.mean_dep_EWR</td>
                            <td>@Model.mean_arr_EWR</td>
                        </tr>
                        <tr>
                            <td>JFK</td>
                            <td>@Model.mean_dep_JFK</td>
                            <td>@Model.mean_arr_JFK</td>
                        </tr>
                        <tr>
                            <td>LGA</td>
                            <td>@Model.mean_dep_LGA</td>
                            <td>@Model.mean_arr_LGA</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- The manufacturers that have more than 200 planes -->
    <section id="one" class="main style2 special">
        <div class="container">
            <div class="row gtr-150">
                <div class="col-6 col-12-medium">
                    <style>
                        table, th, td {
                            border: 2px solid black;
                        } 
                    </style>
                    <h3>The manufacturers that have more than 200 planes</h3>
                    <table style="width:100%">
                        <tr>
                            <th style="color:white;">Manufacturer</th>
                            <th style="color:white;">Number of planes</th>
                        </tr>
                        @foreach (var x in Model.big_manufacturers)
                        {
                            <tr>
                                <td>@x.name</td>
                                <td>@x.plane_count</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- The number of flights each manufacturer with more than 200 planes are responsible for -->
    <section id="one" class="main style1">
        <div class="container">
            <div class="row gtr-150">
                <div class="col-6 col-12-medium">
                    <style>
                        table, th, td {
                            border: 2px solid black;
                        } 
                    </style>
                    <h3> The number of flights each manufacturer with more than 200 planes are responsible for</h3>
                    <table style="width:100%">
                        <tr>
                            <th>Manufacturer</th>
                            <th>Number of flights</th>
                        </tr>
                        @foreach (var x in Model.manufacturers_with_flights)
                        {
                            <tr>
                                <td>@x.name</td>
                                <td>@x.flight_count</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- The number of planes of each airbus model -->
    <section id="one" class="main style2 special">
        <div class="container">
            <div class="row gtr-150">
                <div class="col-6 col-12-medium">
                    <style>
                        table, th, td {
                            border: 2px solid black;
                        }
                         
                    </style>
                    <h3>The number of planes of each Airbus Model</h3>
                    <table style="width:100%">
                        <tr>
                            <th style="color:white;">Model</th>
                            <th style="color:white;">Amount</th>
                        </tr>
                        @foreach (var x in Model.airbus_models)
                        {
                            <tr>
                                <td>@x.Item1</td>
                                <td>@x.Item2</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </section>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
     


    <!-- Footer -->
    <section id="footer">
        <ul class="icons">
            <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </section>

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>

</body>
</html>
