@{
    ViewData["Title"] = "Home Page";
}
@model SEP6_Project.Models.DataModel
<html>
<body class="is-preload">

    <!-- Header -->
    <section id="header">
        <div class="inner">
            <span class="icon solid major fa-cloud"></span>
            <h1>
                Hi, this is <strong>SEP6</strong>, a <strong>CLOUD</strong> project by<br />
                Arshad, Erik and Casper.
            </h1>
            <p>
                Data visualization of NYC flights data,<br />
                utilizing C# and Google Cloud, along with JS, HTML5 and CSS3.
            </p>
            <br />
            <ul>
                <li><a href="#one" class="button scrolly">Discover</a></li>
                <br />
                <li><input type="button" value="Next page" onclick="@("window.location.href='" + @Url.Action("Tempindex", "Temp") + "'");" /></li>
            </ul>
        </div>
    </section>

    <!-- 1 - Total number of flights per month -->
    <section id="one" class="main style1">
        <div class="container">
            <div class="row gtr-150">
                <div class="col-6 col-12-medium">
                    <style>
                        table, th, td {
                            border: 2px solid black;
                        }
                    </style>
                    <h3>Total number of flights for each month</h3>
                    <table style="width:100%">
                        <tr>
                            <th>Month</th>
                            <th>Total flight</th>
                        </tr>
                        @foreach (var flights in Model.flights)
                        {
                            <tr>
                                <td>@flights.Key</td>
                                <td>@flights.Value</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- 2 - Total number of flights per month from the three origins in one plot. -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <script src="~/js/flights.js"></script>

    <section id="four" class="main style2 special">
        <div class="container">
            <header class="major">
                <div id="myfirstchart" style="height: 250px; width: 1400px;"></div>
            </header>
            <p>Flights pr. month from each origin.</p>
        </div>
    </section>

    <!-- 3 - The top-10 destinations and how many flights were made to theses -->
    <section id="one" class="main style1">
        <div class="container">
            <div class="row gtr-150">
                <div class="col-6 col-12-medium">
                    <h3>Top 10 destinations and # of flights</h3>
                    <table style="width:100%">
                        <tr>
                            <th>Destination</th>
                            <th>Total flights</th>
                        </tr>
                        @foreach (var dest in Model.top10flights)
                        {
                            <tr>
                                <td>@dest.Key</td>
                                <td>@dest.Value</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- 4 - For these 10 destinations, make a visualization of the number of flights from the
    three origins to the top-10 destination. -->

    <section id="four" class="main style2 special">
        <div class="container">
            <header class="major">
                <div id="topflights" style="height: 250px;"></div>
            </header>
            <p>Top 10 flights pr. Origin.</p>
        </div>
    </section>

    <!-- 5 - The mean airtime of each of the origins in a table -->
    <section id="one" class="main style1">
        <div class="container">
            <header class="">
                <div id="meanAir" style="height: 250px;"></div>
            </header>
            <p style="text-align: center; line-height: 100px;">Mean airtime for Origin.</p>
        </div>
    </section>


    <!-- 6 - How many weather observations there are for the origins in a table -->

    <section id="four" class="main style2 special">
        <div class="container">
            <header class="major">
                <div id="weatherobs" style="height: 250px;"></div>
            </header>
            <p>Weather observations from Origin.</p>
        </div>
    </section>

    <!-- Footer -->
    <section id="footer">
        <ul class="icons">
            <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </section>

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>

</body>
</html>
